<div class="_loading text-center">
    <div class="spinner">
      <div class="bounce1"></div>
      <div class="bounce2"></div>
      <div class="bounce3"></div><br>
      <p style="font-size: 18px">Loading..</p>
    </div>
</div>
<div class="navbar_">
<div class="container">
  <div class="row">
    <h1 id=h1>
      <span id="h15" style="margin-right: 10px;cursor: pointer" data-ng-click="homee()"><a href="#/home">Home</a></span>
      <span id="h12" style="margin-left: 10px;cursor: pointer" data-ng-click="logout()"> | Logout</span>
      <span id="h12" style="margin-left: 10px;cursor: pointer" data-ng-click="profile()"><a href="#/profile">คลิกเพื่อกลับไปที่โปรไฟล์ : {{username}}</a></span>
      <span id="h12" class="lnr lnr-user"></span>
    </h1>
  </div>
</div>
</div><br><br>
<!-- ---------------------Delete all------------------------- -->
<br><br>
<div class="container">
  <div class="back_">
    <div class="row | brands_products">
      <h2>ข้อมูลรูปภาพที่ถูกลบทั้งหมด</h2><hr>
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="col-lg-4 col-md-4 col-sm-4 " data-ng-repeat="image in show_d">
            <img data-ng-src="images/closet/{{image.image}}" width="250px"/>
          </div>
        </div>
      </div>
    </div>
  </div>
